@import "@material/typography/mdc-typography";
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/chips/mdc-chips";
@import "./article.scss";

@import url('/assets/mdi/css/materialdesignicons.min.css');

body {
  --mdc-theme-primary: #00796b;
  margin: 0;
  background-color: #f2f2f2;
}
